body{
 background-color: white;
 font-family: 'Raleway', sans-serif;
}


h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

#banner{
 background-image: url("https://shouhuzhe01.github.io/image/01.jpg");
 background-size: cover;
 background-position: bottom center;
 height: 700px;
 width: 100%;
}

#banner.content h1{
border: 3px solid white;
position: relative;
top: 50px;
width: 400px;
margin: 0 auto;
}

